<div id="cookcons" style="display: none; width: 100%; height: 100%; align-items: center; flex-direction: column; justify-content: center; background-size: cover; background-position: center; color: whitesmoke; position: absolute; top: 0px; left: 0px; z-index: 99999;">
    <div style="border: solid 5px black; text-align: center; padding: 48px 26px 24px;  background-color: black; overflow: visible; box-sizing: border-box; display: block; max-width: 800px; cursor: default;">
        <h2>Cookie Consent</h2>
        <p style="margin: 1.5rem;">By continuing your use of this site, you agree that we may store and/or access information on your device, such as unique IDs in cookies to process personal data (authorization cookies). You may accept by clicking below, or manage your choices, including your right to object where legitimate interest is used, at any time, in the cookie manager. Your choices will be signaled to our partners and will not affect browsing data.</p>
        <h2>Personalized Ads</h2>
        <p style="margin: 1.5rem;">This site doesn't provide Personalized Advertisements. Advertisements on this site are from our partners/sponsors, and will not affect browsing data.</p>
        <button style="border: none; background-color: green; color: white; text-transform: uppercase; font-weight: 600; cursor: pointer; padding: 8px; margin-right: 8px;" onclick="acceptCookie()">Accept Cookies</button>
        <button style="border: none; background-color: transparent; color: white; text-transform: uppercase; font-weight: 600; cursor: pointer; padding: 8px; margin-left: 8px;" onclick="location.href='/';">More Info</button>
    </div>
</div>
<script>
    const hasAcceptedCookies = localStorage.getItem('cookie');
    if (!hasAcceptedCookies) {
       document.getElementById("cookcons").style.display = 'flex';
       document.body.style.overflow = 'hidden';
    }
    function acceptCookie() {
        localStorage.setItem("cookie", 'true');
        document.getElementById("cookcons").style.display = 'none';
        document.body.style.overflow = 'visible';
    }
</script>