<div id="title" style="position: relative;">
    <div class="logo" style="position: absolute;">
        <img src="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png" style="height: 64px; width: 64px;">
    </div>
</div>
<div class="row-31oovZ header-V8Sgnz">
    <header class="wrapper-2bm6Le">
        <nav class="nav-3_Sybl">
            <div class="links-DGfZfm">
                <ul id="navbarthings">
                    <span class="link-1naFFL link-2eyudH" onclick="location.href='/'">Home</span>
                    <% if (username) { %>
                        <span><%= username %></span>
                      <% } else { %>
                        <span class="link-1naFFL link-2eyudH" onclick="location.href='/auth';">Log In</span>
                      <% } %>
                </ul>
                <div id="credoauth2-scope"></div>
            </div>
        </nav>
    </header>
</div>