<div class="header-01oozD">
    <header class="header-position">
        <div class="header-31oovZ header-V8Sgnz">
            <div class="title">
                    <img src="https://tallerthanshort.github.io/ut3.ggpht/icons/fire_logo.png" class="logo">
            </div>
            <div class="action-buttons">
                <nav class="nav-3_Sybl">
                    <div class="links-DGfZfm">
                        <ul id="navbarthings">
                            <% if (username) { %>
                                <span class="link-1naFFL link-2eyudH" onclick="location.href='/upload';">Upload</span>
                                <span class="link-1naFFL link-2eyudH"  onclick="location.href='/users/<%= uid %>';"><%= username %></span>
                            <% } else { %>
                                <span class="link-1naFFL link-2eyudH" onclick="location.href='/'">Home</span>
                                <span class="link-1naFFL link-2eyudH" onclick="location.href='/auth';">Log In</span>
                            <% } %>
                        </ul>
                        <div id="credoauth2-scope"></div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>