<% if (title) { %>
<div id="players">
    <div id="audio-player-container">
        <p id="current-song"><%= title %></p>
        <audio controls autoplay loop nodownload>
            <source src="<%= source %>">
            Your device doesn't support our audio player!
        </audio>
    </div>
</div>
<% } else { %>
    <div id="players">
        <div id="audio-player-container">
            <p id="current-song">Chose a track to start listening!</p>
            <audio controls autoplay loop nodownload>
                <source src="<%= source %>">
                Your device doesn't support our audio player!
            </audio>
        </div>
    </div>
<% } %>