<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Fire</title>
    <%- include('../partials/style') %>
</head>
<body>
    <div id="title" style="position: relative; background-color: gray;">
        <h3>Fire - Beats are litt</h3>
    </div>

    <div id="players">
        <div id="audio-player-container">
            <p><%= title %></p>
            <audio controls autoplay loop>
                <source src="<%= source %>">
                Your device doesn't support our audio player!
            </audio>
        </div>
    </div>
</body>
</html>